<mat-drawer-container class="example-container">
  <mat-drawer #sidebar class="drawer" style="background-color: lightgrey;" mode="side" opened>
    
<div style="background-color: lightslategray;">
  <img style="margin-left: 20px;" src="\assets\user-male.png">
  <a style="color:white;margin-left:60px">Jagdish Karmur</a>
</div>
<mat-list role="list">
  <mat-list-item role="listitem">EleCtronic</mat-list-item>
  <mat-list-item role="listitem">Fashion</mat-list-item>
  <mat-list-item role="listitem">Shoes</mat-list-item>
  <mat-list-item role="listitem">Other</mat-list-item>
</mat-list>
  </mat-drawer>
  <mat-drawer-content>
   
      <mat-toolbar style="background-color:darkgray;">
        <button mat-button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
   </mat-drawer-content>
  
</mat-drawer-container>